

#root {
  max-width: 1280px;
  text-align: center;
  min-height: inherit;
  
}
.hero{
  min-height: 15rem;
  position: relative;
  background-image: url("../images/bg-main-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  
}
.form{
  padding-top: 5em;
  text-align: left;
  padding-left: 1em;
  
}
p,input{
  margin-bottom: 0.5em;
}
input{
  border: 1px solid lightgray;
  height: 3em;
  padding-left: 0.5em;
  width: 90%;
  margin-bottom: 1em;
}
button{
  display: block;
  height: 3em;
  width: 90%;
  margin-top: 2em;
  border-radius: 0.5em;
  color: white;
  background-color: rgb(30, 5, 54);
  border: none;
  font-size: 1em;
  letter-spacing: 0.1em;

}

.arzi{
  width: 20%;
  height: 3em;
  border-radius: 0.4em;
  margin-right: 0.4em;
  border: 1px solid lightgray;
  
}
.arzi:nth-child(3){
  width: 50%;
}

.frontImg{
  width: 18rem;
  position: absolute;
  display: block;
  left: 5%;
  bottom: -25%;
}
.backImg{
  width: 18rem;
  position:absolute;
  left: 18%;
  top:12%;
}
.cardlogo{
  width: 3em;
  position: absolute;
  bottom: 4rem;
  left: 8vw;
}
.cnum{
  position: absolute;
  bottom: 7%;
  left: 4rem;
  font-size: 1.1em;
  letter-spacing: 0.2rem;
  color: rgb(208, 216, 226);
}
.cvv{
  position: absolute;
  bottom: -15%;
  left: 8vw;
  font-size: 1.1em;
  color: rgb(208, 216, 226);
}
.cexpire{
  position: absolute;
  bottom: -15%;
  left: 15rem;
  font-size: 1.1em;
  color: rgb(208, 216, 226);
}

@media (min-width: 900px){
  #root{
    display: flex;
    flex-direction: row;
  }
  .hero{
    min-height: 100vh;
    width: 50%;
  }   
  .backImg{
    top: 8rem;
  }
  .frontImg{
    top: 15rem;
  }
  .cnum{
    top: 19.5rem;
    left: 3.5rem;
  }
  .cardlogo{
    top: 16rem;
    left: 3rem;
  }
  .cexpire{
    top: 23rem;
  }
  .cvv{
    top: 23rem;
    left: 3rem
  }
}















/*.psuedo::after{
  content: "0000 0000 0000 0000";
  position: absolute;
  bottom: 4%;
  left: 8%;
  width: 60%;
  color: aliceblue;
  letter-spacing: 0.15em;
  font-size: 1.1em;
  height: auto;
  z-index: 99;
}
.psuedo::before{
  content: "00/00";
  position: absolute;
  bottom: -10%;
  left: 32%;
  width: 60%;
  color: rgb(208, 216, 226);
  letter-spacing: 0.15em;
  font-size: 1.1em;
  height: auto;
  z-index: 99;
}*/